:root{
    --header-height: 135px;
}
main{
    margin-top: var(--header-height);
}
.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - var(--header-height));
}
#it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}